spring:
  application:
    name: "Sistema_De_Gestï¿½o_De_Projetos"

  datasource:
    url: jdbc:postgresql://localhost:5431/SistemaGestao
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  secret:
    key: "password_encoder"