spring:
  application:
    name: "Sistema_De_Gestao_De_Projetos"

  datasource:
    url: jdbc:postgresql://postgres:5432/SistemaGestao
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    path: /api/api-docs
  swagger-ui:
    path: /swagger/index.html

app:
  secret:
    key: "password_encoder"
