spring:
  application:
    name: "Sistema_De_Gestão_De_Projetos"

  datasource:
    url: jdbc:postgresql://localhost:5431/SistemaGestao
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration